<div class="jumbotron">
  <h1>Welcome to the jungle!</h1>
  <p>All your jungle essentials are sold here! This store was created by the lions at Lighthouse Labs</p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Products</a></p>
</div>